:root{
    --primary-color: #055a05; /* forest green*/
    --secondary-color: #f4a261; /* warm sand*/
    --accent1-color: #264653; /*dark slate blue*/
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman","Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    }

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}
header nav a{
    display: block;
    text-decoration: none;
    padding: 5px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
    opacity: 0.8;
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
    
    }

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute
}

h1 {
    position: absolute;
    top: 20px;
    right: 25px;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

article {
    position: absolute;
    top: 325px;
    padding: 0;
    margin: 30px;
    background-color: var(--accent1-color);
    opacity: 0.8;
   
    
}

article img{
        position: relative;
        float: left;
        right: 0px;
        padding-left: 25px ;
}
article p {
        position: relative;
        height: 150px;
        margin: 0px;
        padding-right: 100px;
        color: var(--accent2-color);
        
}

.hero article{
    position: absolute;
}
.hero article img {
    position: absolute;
    float: right;
    width: 125px;
    opacity: 0.8;
}

footer img{
position: relative;
width: 25px ;
opacity: 0.5;
}

/*Adding flex/grid */
header {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center ;
}
 
nav {
    display: flex;
    justify-content: space-between;
  
    
}
header img{
    height: 200px;

   } 
.container1 section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.one {
    width: 200px;
    height: 200px;
}

  .container2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
        
 }
.two {
    width: 100px;
    height: 100px;
}

/* .container2 {       this is an optional setup
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column: 1/5;
}

.columns-2 {
    grid-column: span 5;
      
}

.two {
    margin: .25rem;
      
}
 */


    footer .socialmedia {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
 }

