:root{
--heading-color: darkblue;
--heading-height:auto;
--heading-width:150px;
}

img {
    width: var(--heading-width);
    height: var(--heading-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

nav {
    background-color: var(--heading-color);
    padding: 10px;
}
nav a { 
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}
h1 {
    color: var(--heading-color);
}
main img{
    width: var(--heading-width);
    height: var(--heading-height);
    border: 1px solid steelblue;
    padding: 1px;
    box-shadow: 0 0 30px gray;
}


p{
    padding: 0px;
    
}
aside{
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 2em;
    border-top: 3px solid #333;
    text-align: center;
}
