*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
--heading-color: darkblue;
--heading-width:150px;
--heading-height:auto;

}
body{
    font-size: 17px;
    font-size: Roboto, Arial, sans-serif;
}

    img {
    width: var(--heading-width);
    height: var(--heading-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

nav {
    background-color: var(--heading-color);
    padding: 5px;
}
nav a { 
    color: white;
    display: block;
    padding: 10px;
    }

main {
    max-width: 840px;
}
h1 {
    color: var(--heading-color);
    padding: .5rem;
    text-shadow: 1px 1px black;
}
main img{
    width: var(--heading-width);
    height: var(--heading-height);
    border: 1px solid steelblue;
    padding: 1px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p{
    margin: 1rem;
    padding: 0px;
        
}
aside{
    position: relative; /*This sets the relation image-text to be looked when zoom-in/out in this case img -h2 (inside the aside*/
    width: 20em;
    /*margin: 1em;*/
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*padding: 1em;*/
    background-color: #eee;
    color: #333;
    text-align: center;
    
}
aside img{
   width: 200px;
    height: auto;
    float: inherit;
}
aside p{
    text-align: justify;
}

aside h2{
   position: absolute;
   top: 120px;
   left: 80px;
   font-size: 1.5rem;
   color: white;
}


footer{
    margin-top: 2em;
    border-top: 3px solid #333;
    text-align: center;
}
/* "Class Selectors"*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    max-width: 300px;
}
a.col:hover{
color: greenyellow;
}
li.col2:hover{
    color: greenyellow;

}
